<div class="panel">
    <div class="panel-heading">
        <i class="fa fa-cog"></i>
        {{ text_method_config }}
    </div>

    <div class="form-wrapper">
        <div class="form-group">
            <label class="control-label col-lg-3">
                {{ text_enabled }}
            </label>

            <div class="col-lg-7">
                <input type="checkbox" name="lemonway_klarna_status" id="lemonway_klarna_status" value="1" {{ lemonway_klarna_status ? 'checked' : '' }} />
            </div>
        </div>
    </div>
</div>